
<a class="button is-icon" href="{{ include.url }}">
  <span class="button-text">{{ include.text }}</span>
  <span class="button {% if include.border %}is-icon-only-border{% else %}is-icon-only{% endif %} ms-3">
    <span class="icon-button arrow-up-right"></span>
  </span>
</a>